*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: black;
    margin-top: 3vh;
    padding: 15px;
}

.secciones1{
    padding: 15px;
}

#seccion1_1{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#seccion1_1 .sub{
    width: 22%;
}

#seccion1_2{
    background-color: coral;
    margin-top: 9px;
}


#seccion1_1 .subancho1_1{
    width: 50%;
}

.sub{
    height: 3vh;
    background-color: blue;
}


.secciones2{
    padding: 15px;
}

.contflex{
    display: flex;
    flex-direction: row;
}

#seccion2_1{
    background-color: blueviolet;
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#seccion2_1 .sub{
    margin-top: 8px;
    width: 48%;
}

#seccion2_1 #sub100{
    width: 100%;
    background-color: turquoise;
}

#seccion2_2{
    background-color: crimson;
    width: 30%;
    padding: 15px

}

#seccion2_2 .sub{
    /* margin: 2px; */
}

.mt{
    margin-top: 7px;
}

.nar{
    background-color: darkkhaki;
}


@media (max-width: 768px) {

    #contenedor2{
        background-color: yellow;
        flex-direction: column;
    }

    #seccion2_1{
        width: 96%;
        margin-bottom: 6px;
    }

    #seccion2_1 .sub{ 
        margin-bottom: 6px;
    }

    #seccion2_2{
        width: 96%;
        margin-top: 8px;
    }

    .sub{
        height: 5vh;
    }
}